@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Wotfard";
    font-weight: 400;
    src: url("../assets/fonts/WotfardRegular.otf") format("otf");
  }
  @font-face {
    font-family: "Wotfard";
    font-weight: 700;
    src: url("../assets/fonts/WotfardBold.otf") format("otf");
  }
  @font-face {
    font-family: "League Mono";
    font-weight: 400;
    src: url("../assets/fonts/LeagueMonoRegular.otf") format("otf");
  }
  @font-face {
    font-family: "League Mono";
    font-weight: 700;
    src: url("../assets/fonts/LeagueMonoBold.otf") format("otf");
  }
}
