@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png);
}

@layer utilities {
  .shadow {
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.2);
  }

  .shadow:hover {
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.2);
  }
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
